<div class="main">
  <div class="container flex-center">
    <!-- Card register-->
    <mdb-card class="animated fadeIn mr-5">
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../../assets/images/register_img.png" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Register to Vote</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>Provide some basic information to check your eligibility and register
        </mdb-card-text>

        <button routerLink="." mdbBtn type="button" gradient="blue" rounded="true" block="true">Register</button>

      </mdb-card-body>
    </mdb-card>
    <!-- Card register-->


      <!-- Card vote-->
      <mdb-card class="animated fadeIn">
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../../assets/images/vote_image.png" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Cast your Vote</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Exercise your civil right by casting your vote NOW.
          </mdb-card-text>

          <button  routerLink="." mdbBtn type="button" gradient="aqua" rounded="true" block="true">Vote</button>
        </mdb-card-body>
      </mdb-card>
      <!-- Card vote-->


  </div>


</div>
