<app-loggedinnavbar></app-loggedinnavbar>

<div class="container col-6 mt-5">
  <h1 class="text-center">Favorite Movies</h1>
  <hr />

  <table mdbTable striped="true">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody *ngFor="let d of data; let i=index">
      <tr mdbTableCol>
        <td>{{i+1}}</td>
        <!-- // {{IMG_URL?<img src="{{IMG_URL}}" alt="movie poster">:"no image"}} -->
        <td title="{{d['moviePost']}}">{{d['movieTitle']}}</td>

        <td>{{d['movieRunTime']}}</td>
        <td>
          <mat-icon (click)="handleRemove(d['movieId'])" color="warn" style="cursor: pointer;">delete_outline</mat-icon>
        </td>
      </tr>

    </tbody>
  </table>

</div>
