<mat-grid-list cols="4" rowHeight="2:1">

  <mat-grid-tile [colspan]="4" [rowspan]="4" class="mtg-posters">
    <img [src]="IMG_URL">

  </mat-grid-tile>


</mat-grid-list>


<mdb-card *ngFor="let d of data" style="display: inline-block; width: 25%; ">
  <a href="#" mdbBtn mdbWavesEffect title="{{d['original_title']}}">
    <mdb-card-img src="{{IMG_URL_POSTER}}{{d['poster_path']}}" alt="{{d['original_title']}}"></mdb-card-img>
  </a>
</mdb-card>

<div class="load-more">

  <button (click)="handleClick()" mat-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>add</mat-icon>
  </button>

</div>